@font-face{
  font-family: '方正启功行楷'; 
  src: url('../static/方正启功行楷.ttf');
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /* background-image: linear-gradient(180deg, #f66, #f90); */
    display: flex;
    justify-content: center;
    align-items: center; 
    font-family: '方正启功行楷'
}

#new-tab-wrap{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    /* background: url('../static/imgs/bg1.jpg') no-repeat center center; 
    background-size:cover; */
}

.main-ctx{
    font-size: 24px;
}

.gradient-text {
	background-image: linear-gradient(90deg, #f66, #f90);
	background-clip: text;
	line-height: 60px;
	font-size: 60px;
	color: transparent;
	animation: hue 5s linear infinite;
}
@keyframes hue {
	from {
		filter: hue-rotate(0);
	}
	to {
		filter: hue-rotate(-1turn);
	}
}

.linear-gradient-wrap{
  background-image: linear-gradient(90deg, #f66, #f90);
  width: 100vw;
  height: 100vh;
}

